/*font-family: 'Playfair Display', serif;*/
/* font-family: 'Ubuntu', sans-serif;*/

body
{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 16px;
	color: #626262;


}
/* header start*/
header
{
     padding:  30px 0;
}
.container
{   margin: 0 auto;
    width: 90%;
   
    overflow: hidden;
}
.logo
{
	float: left;
	width: 13%;
	
}
.logo img
{
	margin-top: 14px;
   width: 100%;
}

.menu
{  float: right;
   width: 70%;
   
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	
	margin: 0 50px;
	padding: 5px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom:1px solid transparent; 
}
.menu ul li:last-child a{
	margin-right: 0;
}

.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/* header end*/


/* banner start*/
 .bcontent img
{
	width: 100%;
}

/*banner end*/


/* gateway started*/
.gateway{
	padding: 75px 0;
}
.container2{
	width: 80%;
	margin: 0 auto;
	
	overflow: hidden;
}
.g_content{}
.c_span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color:#b4ad9e;
	text-transform: uppercase;
}
.c_h1{
	font-size: 30px;
	font-weight: 400;
}
.c_p
{
	margin-bottom: 50px; 
	line-height: 24px;
	letter-spacing: 1px;
}



/* gateway ended*/



/*blog started*/
.blog{
	padding: 75px 0;
}
.blog_content{
	/*border: 1px solid;*/
    width: 47%;
	float: left;
	margin-bottom: 10px;

}
.blog_content:nth-child(even)
{
	margin-left: 6%; 
}
.blog_content img{
	margin-bottom: 25px;
	width: 100%;
}
/* blog ended*/

/* button start*/

.load
{
	padding: 75px 0;
	text-align: center;

}
.load button
{
	width: 165px;
	height: 60px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 20px;
	color: #626262;

	background-color: transparent;
	border:1px solid #000;
	cursor: pointer;
	transition: .3s;


}
.load button:hover
{

	background-color: #626262;
	color:white;
}
/*button end*/

/* newsetteler start*/
.newsetteler{
background-color: #f0f0f0;
margin:  75px 0;
padding: 30px 0;
}
.container3{
	width: 60%;
	margin: 0 auto;
	
}
.form{
	    position: relative;
	    margin: 60px 0;
	   
}
.form h1{
	text-align: center;
	margin: 0 0 60px 0;

}
.form2
{
 width: 45%;
 margin: 0 auto;
}
.form2 input{
	border: none;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 14px;
	background-color: #f0f0f0;

	border-bottom: 1px solid black;
	width: 340px;
	height: 30px;

 }
.form2 button{
	    position: absolute;
    bottom: 0px;
    
}
/* newsetteler end*/
/* footer start*/

/* footer start*/
footer
{
        background-color: #f0f0f0;
        padding: 40px 0 40px 0;
        margin: 75px 0 0 0;
}

.wrapper
{ float: left;
 }
.wrapper ul{
	padding-left: 0 
}
.wrapper ul li{
	float: left;
	font-weight:700; 
	list-style: none;
	padding: 0 10px;

}
.wrapper ul li a{}
.icon{
	float: right;
}
.icon ul{}
.icon ul li{
	float: left;
	list-style: none;
	font-weight: 700;
	padding: 0 10px;

.icon ul li a{}


